<div class="row">
    <div class="large-12 columns">
        <h1>Lägg till fångst</h1>

        <form name="caught_fish_form" ng-submit="createCaughtFish()">
            <input name="fisherId" type="text" ng-model="caughtFish.userId" placeholder="Fiskarens id" ng-focus/>

            <div class="error"
                 ng-show="caught_fish_form.weight.$dirty && caught_fish_form.$invalid && !caught_fish_form.weight.$focused">
                <small class="error" ng-show="caught_fish_form.weight.$error.required">
                    Hörredu! Vikt krävs!!
                </small>
            </div>
            <input name="weight" type="number" type="number" ng-model="caughtFish.weight" ng-minlength=1 min="1"
                   max="10" required novalidate placeholder="Vikt" ng-focus/>
            <input name="measurement" type="number" ng-model="caughtFish.measurement" ng-minlength=1 min="1" max="10"
                   required novalidate placeholder="Längd" ng-focus/>
            <select name="fishId" ng-model="caughtFish.fishId" required novalidate>
                <option ng:repeat="fish in fishCollection" ng-cloak value="{{fish.id}}">{{fish.name}}</option>
            </select>
            <button type="submit" ng-disabled="caught_fish_form.$invalid">Lägg till fångst</button>
        </form>
        <div class="row">
            <div class="large-12 columns">
                <ul ng-repeat="caughtFish in caughtFishCollection">
                    <li>
                        <p ng-cloak>Användarid: {{caughtFish.userId}}. FiskId: {{caughtFish.fishId}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>