<div class="row">
    <div class="large-12 columns">
        <h1>Lägg till fiskar</h1>
    </div>
</div>
<form name="fish_form">
    <div class="row">
        <div class="large-12 columns">
            <div class="error" ng-show="fish_form.name.$dirty && fish_form.$invalid">
                <small class="error" ng-show="fish_form.$error.unique">
                    WOoow! Den fisken finns redan!
                </small>
            </div>
            <input id="fish" ng-model="fish.name" type="text" ensure-unique-fish="name"
                   ng-placeholder="Fiskens förnamn" ng-focus/>
            <button type="button" ng-click="addFish()" ng-disabled="fish_form.$invalid">Lägg till fisk</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="large-12 columns">
        <ul ng-repeat="fish in fishCollection">
            <li><p>{{fish.name |lowercase | capitalize}} <input type="button" ng-click="deleteFish(fish)"
                                                                class="button alert tiny" value="Ta bort fisk"/></p>
            </li>
        </ul>
    </div>
</div>
